.dashboard-header-top {
    --tblr-border-color: transparent
}

@media (max-width: 1335px) {
    .dashboard-header-top .header-search {
        width: 430px !important
    }
}

.dashboard-header-top .header-search #top_search_word {
    border-radius: 8px;
    outline: none
}

.dashboard-header-top .header-search .search-kbd {
    background-color: rgba(0, 0, 0, 0);
    border: none
}

.navbar-vertical.navbar-expand-lg .navbar-collapse .navbar-nav .nav-link {
    border-radius: 8px
}

.navbar-vertical.navbar-expand-lg .navbar-collapse .navbar-nav .nav-link:hover {
    color: #5539d3;
    background: rgba(131, 109, 232, .1);
    font-weight: 600
}

.navbar-vertical.navbar-expand-lg .navbar-collapse .navbar-nav .nav-link:hover .nav-link-icon {
    stroke: #5539d3
}

.navbar-vertical.navbar-expand-lg .navbar-collapse .navbar-nav .nav-link.active {
    color: #5539d3 !important;
    background: rgba(131, 109, 232, .1) !important;
    font-weight: 600 !important
}

.navbar-vertical.navbar-expand-lg .navbar-collapse .navbar-nav .nav-link.active .nav-link-icon {
    stroke: #5539d3 !important
}

.open-close-btn {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background: #5539d3;
    top: 41px;
    transform: translateX(-80%) !important
}

.page-header.dashboard-header {
    background: #fbfbfb;
    border: none !important;
    --tblr-content-padding: 0 !important;
    padding: 33px 43px
}

.page-header.dashboard-header .page-pretitle {
    color: #637381;
    font-family: Public Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase
}

@media (max-width: 1200px) {
    .page-header.dashboard-header .page-pretitle {
        font-size: 14px
    }
}

.page-header.dashboard-header h2 {
    color: #5539d3;
    font-family: Poppins;
    font-size: 34px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1px
}

@media (max-width: 1200px) {
    .page-header.dashboard-header h2 {
        font-size: 28px
    }
}

.page-body.user-page-body {
    margin-top: 0px;
    background: #fbfbfb
}

.page-body.user-page-body .single-card .card-wrapper {
    margin-bottom: 30px
}

.page-body.user-page-body .single-card .card-wrapper .card-text {
    padding: 45px 50px;
    border-radius: 12px;
    background: var(--bg-greident, linear-gradient(90deg, #836DE8 0%, #5897DB 71.77%, #62B6B1 98.96%));
    position: relative
}

@media (max-width: 768px) {
    .page-body.user-page-body .single-card .card-wrapper .card-text {
        padding: 30px
    }
}

.page-body.user-page-body .single-card .card-wrapper .card-text h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1px;
    margin-bottom: 45px;
    margin-top: 10px;
}

.page-body.user-page-body .single-card .card-wrapper .card-text h2 .up-icon {
    position: relative
}

.page-body.user-page-body .single-card .card-wrapper .card-text h2 .up-icon .light-shape {
    position: absolute;
    top: -15px;
    right: -20px;
    width: 27px
}

@media (max-width: 1200px) {
    .page-body.user-page-body .single-card .card-wrapper .card-text h2 {
        font-size: 35px
    }
}

@media (max-width: 1100px) {
    .page-body.user-page-body .single-card .card-wrapper .card-text h2 {
        font-size: 28px
    }
}

.page-body.user-page-body .single-card .card-wrapper .card-text p {
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    max-width: 624px
}

.page-body.user-page-body .single-card .card-wrapper .card-text p span {
    font-weight: 700
}

@media (max-width: 1200px) {
    .page-body.user-page-body .single-card .card-wrapper .card-text p {
        font-size: 16px
    }
}

@media (max-width: 768px) {
    .page-body.user-page-body .single-card .card-wrapper .card-text.text-card {
        margin-bottom: 30px
    }
}

.page-body.user-page-body .single-card .card-wrapper .card-text.text-card .mike-shape {
    position: absolute;
    top: 30px;
    right: 30px
}

@media (max-width: 1600px) {
    .page-body.user-page-body .single-card .card-wrapper .card-text.text-card .mike-shape {
        top: 20px;
        right: 20px;
        max-width: 180px
    }
}

@media (max-width: 1500px) {
    .page-body.user-page-body .single-card .card-wrapper .card-text.text-card .mike-shape {
        max-width: 120px
    }
}

@media (max-width: 991px) {
    .page-body.user-page-body .single-card .card-wrapper .card-text.text-card .mike-shape {
        top: 10px;
        right: 10px
    }
}

.page-body.user-page-body .single-card .card-wrapper .card-video iframe {
    max-width: 450px;
    height: 310px;
    width: 100%;
    border-radius: 15px
}

@media (max-width: 768px) {
    .page-body.user-page-body .single-card .card-wrapper .card-video iframe {
        max-width: 100%
    }
}

.page-body.user-page-body .single-card .card-wrapper .title {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 50px
}

@media (max-width: 1200px) {
    .page-body.user-page-body .single-card .card-wrapper .title {
        font-size: 26px
    }
}

@media (max-width: 1100px) {
    .page-body.user-page-body .single-card .card-wrapper .title {
        font-size: 20px
    }
}

.page-body.user-page-body .single-card .card-wrapper .title.black {
    color: #172635
}

.page-body.user-page-body .single-card .card-wrapper .title.white {
    color: #fff
}

.page-body.user-page-body .single-card .card-wrapper .title.progress-title {
    margin-bottom: 25px
}

.page-body.user-page-body .single-card .card-wrapper.overview-card {
    padding: 35px 65px 35px 45px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, .05);
    margin-bottom: 25px;
    position: relative
}

@media (max-width: 991px) {
    .page-body.user-page-body .single-card .card-wrapper.overview-card {
        padding: 35px
    }
}

.page-body.user-page-body .single-card .card-wrapper.overview-card .overview-shape {
    position: absolute;
    top: 55px;
    right: 50px
}

@media (max-width: 1600px) {
    .page-body.user-page-body .single-card .card-wrapper.overview-card .overview-shape {
        top: 30px;
        right: 30px;
        max-width: 200px
    }
}

@media (max-width: 1440px) {
    .page-body.user-page-body .single-card .card-wrapper.overview-card .overview-shape {
        max-width: 170px;
        right: 20px;
        top: 10px
    }
}

@media (max-width: 991px) {
    .page-body.user-page-body .single-card .card-wrapper.overview-card .overview-shape {
        top: 10px;
        right: 10px;
        max-width: 150px
    }
}

.page-body.user-page-body .single-card .card-wrapper .content-wrap .count-wrapper {
    display: flex;
    align-items: center
}

.page-body.user-page-body .single-card .card-wrapper .content-wrap .count-wrapper .count-single {
    padding-right: 40px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative
}

@media (max-width: 991px) {
    .page-body.user-page-body .single-card .card-wrapper .content-wrap .count-wrapper .count-single {
        padding-right: 30px;
        padding-bottom: 10px;
        margin-bottom: 10px
    }
}

.page-body.user-page-body .single-card .card-wrapper .content-wrap .count-wrapper .count-single::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #f5eded;
    top: 0;
    right: 15px
}

.page-body.user-page-body .single-card .card-wrapper .content-wrap .count-wrapper .count-single:last-child::after {
    display: none
}

.page-body.user-page-body .single-card .card-wrapper .content-wrap .count-wrapper .count-single .count-title {
    color: #836de8;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 20px
}

@media (max-width: 1300px) {
    .page-body.user-page-body .single-card .card-wrapper .content-wrap .count-wrapper .count-single .count-title {
        font-size: 16px;
        margin-bottom: 15px
    }
}

.page-body.user-page-body .single-card .card-wrapper .content-wrap .count-wrapper .count-single .count {
    color: #172635;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 24px
}

@media (max-width: 1300px) {
    .page-body.user-page-body .single-card .card-wrapper .content-wrap .count-wrapper .count-single .count {
        font-size: 22px
    }
}

.page-body.user-page-body .single-card .card-wrapper .content-wrap .progress-bar-single .progress.progress-separated {
    margin-bottom: 20px
}

.page-body.user-page-body .single-card .card-wrapper .content-wrap .progress-bar-single .report-wrap .legend {
    height: 19px;
    width: 19px;
    border-radius: 6px;
    margin-right: 10px
}

.page-body.user-page-body .single-card .card-wrapper .content-wrap .progress-bar-single .report-wrap .legend.text-legend {
    background: #836de8
}

.page-body.user-page-body .single-card .card-wrapper .content-wrap .progress-bar-single .report-wrap .legend.image-legend {
    background: #5897db
}

.page-body.user-page-body .single-card .card-wrapper.upgrade-card {
    border-radius: 12px;
    background: var(--bg-greident, linear-gradient(90deg, #836DE8 0%, #5897DB 71.77%, #62B6B1 98.96%));
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, .05);
    padding: 45px 40px;
    position: relative
}

@media (max-width: 1600px) {
    .page-body.user-page-body .single-card .card-wrapper.upgrade-card {
        padding: 35px 35px
    }
}

@media (max-width: 1300px) {
    .page-body.user-page-body .single-card .card-wrapper.upgrade-card {
        padding: 30px
    }
}

.page-body.user-page-body .single-card .card-wrapper.upgrade-card .air-shape {
    position: absolute;
    top: 15px;
    right: 35px
}

@media (max-width: 1200px) {
    .page-body.user-page-body .single-card .card-wrapper.upgrade-card .air-shape {
        top: 10px;
        right: 20px;
        max-width: 70px
    }
}

.page-body.user-page-body .single-card .card-wrapper.upgrade-card .content {
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 20px
}

.page-body.user-page-body .single-card .card-wrapper.upgrade-card .content span {
    font-weight: 700
}

@media (max-width: 1600px) {
    .page-body.user-page-body .single-card .card-wrapper.upgrade-card .content {
        font-size: 15px;
        line-height: 27px
    }
}

.page-body.user-page-body .single-card .card-wrapper.upgrade-card .button-box-plus {
    display: inline-block
}

@media (max-width: 768px) {
    .page-body.user-page-body .single-card .card-wrapper.upgrade-card .button-box-plus {
        display: block
    }
}

.page-body.user-page-body .single-card .card-wrapper.upgrade-card .button-box-plus .plus-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 6px;
    column-gap: 6px;
    padding: 18px 20px;
    background-color: #fff;
    color: #5539d3;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    height: 60px;
    min-width: 235px;
    margin-bottom: 16px;
    border-radius: 12px
}

@media (max-width: 1200px) {
    .page-body.user-page-body .single-card .card-wrapper.upgrade-card .button-box-plus .plus-btn {
        font-size: 18px;
        min-width: 200px;
        height: 50px
    }
}

@media (max-width: 1100px) {
    .page-body.user-page-body .single-card .card-wrapper.upgrade-card .button-box-plus .plus-btn {
        font-size: 12px;
        padding: 15px 10px;
        min-width: 150px
    }
}

@media (max-width: 768px) {
    .page-body.user-page-body .single-card .card-wrapper.upgrade-card .button-box-plus .plus-btn {
        max-width: 235px
    }
}

.page-body.user-page-body .single-card .card-wrapper.upgrade-card .button-box-minus {
    display: inline-block
}

@media (max-width: 768px) {
    .page-body.user-page-body .single-card .card-wrapper.upgrade-card .button-box-minus {
        display: block
    }
}

.page-body.user-page-body .single-card .card-wrapper.upgrade-card .button-box-minus .minus-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 6px;
    column-gap: 6px;
    padding: 13px 20px;
    background-color: #fff;
    color: #d33939;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    height: 45px;
    min-width: 260px;
    border-radius: 12px
}

@media (max-width: 1200px) {
    .page-body.user-page-body .single-card .card-wrapper.upgrade-card .button-box-minus .minus-btn {
        font-size: 14px;
        min-width: 230px;
        padding: 12px 17px;
        height: 40px
    }
}

@media (max-width: 1100px) {
    .page-body.user-page-body .single-card .card-wrapper.upgrade-card .button-box-minus .minus-btn {
        padding: 10px 5px;
        min-width: 200px;
        font-size: 12px
    }
}

@media (max-width: 768px) {
    .page-body.user-page-body .single-card .card-wrapper.upgrade-card .button-box-minus .minus-btn {
        max-width: 235px;
        padding: 10px 10px
    }
}

.page-body.user-page-body .table-wrapper {
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, .05);
    padding: 30px 0 30px
}

@media (max-width: 991px) {
    .page-body.user-page-body .table-wrapper {
        margin-bottom: 30px
    }
}

.page-body.user-page-body .table-wrapper .table-title {
    color: #172635;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    line-height: 24px;
    border-bottom: 1px solid #f5eded;
    margin-bottom: 40px;
    padding: 0px 0 20px 40px
}

@media (max-width: 1200px) {
    .page-body.user-page-body .table-wrapper .table-title {
        font-size: 26px
    }
}

@media (max-width: 1100px) {
    .page-body.user-page-body .table-wrapper .table-title {
        font-size: 20px
    }
}

.page-body.user-page-body .table-wrapper .single-content {
    display: flex;
    justify-content: space-between;
    padding: 0px 24px 8px 30px;
    border-bottom: 1px solid #f5eded;
    margin-bottom: 20px
}

@media (max-width: 1440px) {
    .page-body.user-page-body .table-wrapper .single-content {
        padding: 0 18px 8px 20px
    }
}

.page-body.user-page-body .table-wrapper .single-content:last-child {
    border-bottom: none
}

.page-body.user-page-body .table-wrapper .single-content .content-details {
    flex-basis: calc(100% - 110px);
    display: flex;
    -moz-column-gap: 14px;
    column-gap: 14px
}

.page-body.user-page-body .table-wrapper .single-content .content-details .avatar {
    border-radius: 15px;
    width: 50px;
    height: 50px
}

@media (max-width: 1200px) {
    .page-body.user-page-body .table-wrapper .single-content .content-details .avatar {
        height: 40px;
        width: 40px
    }
}

.page-body.user-page-body .table-wrapper .single-content .content-details .avatar .table-avater {
    width: 50px;
    height: 50px;
    border-radius: 15px
}

@media (max-width: 1200px) {
    .page-body.user-page-body .table-wrapper .single-content .content-details .avatar .table-avater {
        height: 40px;
        width: 40px
    }
}

.page-body.user-page-body .table-wrapper .single-content .content-details .content {
    flex-basis: calc(100% - 50px)
}

.page-body.user-page-body .table-wrapper .single-content .content-details .content p {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 21.5px;
    margin-bottom: 5px
}

@media (max-width: 1200px) {
    .page-body.user-page-body .table-wrapper .single-content .content-details .content p {
        font-size: 12px
    }
}

.page-body.user-page-body .table-wrapper .single-content .content-details .content span {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    line-height: 21.5px;
    margin-bottom: 0
}

@media (max-width: 1200px) {
    .page-body.user-page-body .table-wrapper .single-content .content-details .content span {
        font-size: 12px
    }
}

.page-body.user-page-body .table-wrapper .single-content .content-date {
    flex-basis: 110px
}

.page-body.user-page-body .table-wrapper .single-content .content-date .month {
    color: #1e1e1e;
    text-align: right;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21.5px;
    margin-bottom: 5px
}

.page-body.user-page-body .table-wrapper .single-content .content-date .month.date {
    color: #637381;
    display: block;
    margin-bottom: 0
}

.page-body.user-page-body .table-wrapper.fav-table .single-content .content-details {
    flex-basis: 100%
}